<div class="row">
    <div class="col-12">
        <footer style="color: darkgray; ">
            TEST Streaming Website
        </footer>
        <br>
    </div>
    <div class="col-12">
        <footer style="color: darkgray;">
           XXX streaming-website
        </footer>
        <br>
    </div>
</div>